SelfBuff(
    buildup_duration: 0.1,
    cast_duration: 0.1,
    recover_duration: 0.1,
    buffs: [
        BuffDesc(kind: StormChaser, data: BuffData(strength: 0.25, duration: Some(15.0), secondary_duration: Some(3.0))),
    ],
    energy_cost: 15,
    enforced_limit: false,
)
