ChargedRanged(
    energy_cost: 0,
    energy_drain: 6,
    idle_drain: 12,
    projectile: (
        kind: Simple,
        attack: Some((
            damage: 8,
            damage_kind: Piercing,
        )),
        scaled: Some((
            damage: 32,
            knockback: Some(4),
        )),
        homing_rate: Some(10.0),
    ),
    buildup_duration: 0.3,
    charge_duration: 1.0,
    recover_duration: 0.1,
    projectile_body: Object(Arrow),
    projectile_light: None,
    initial_projectile_speed: 100.0,
    scaled_projectile_speed: 100.0,
    marker: Some(JoltArrow),
    move_speed: 0.4,
    meta: (
        init_event: Some(RemoveBuff(JoltArrow)),
    ),
)
